@import "tailwindcss";

@theme {
  --color-red-sangria: #9d060d;
  --text-huge: 7rem;
  --text-huge--line-height: 7rem;
  --text-medium: 5rem;
  --text-medium--line-height: 5rem;
  --text-small: 3rem;
  --text-small--line-height: 3rem;
}

@font-face {
  font-family: "1FTV VIP High Spirited";
  src: url("/fonts/1FTV-VIP-High-Spirited.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HLT AphroditeSlimPro";
  src: url("/fonts/HLT-AphroditeSlimPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-1ftv {
  font-family: "1FTV VIP High Spirited", sans-serif;
}

.font-hlt {
  font-family: "HLT AphroditeSlimPro", sans-serif;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.scroll-container {
  width: 100%;
  max-width: 1920px;
  height: 260vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sticky-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background-color: var(--color-red-sangria);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "1FTV VIP High Spirited", sans-serif;
  font-size: var(--text-huge);
  line-height: var(--text-huge--line-height);
  text-align: center;
}

.bg-scroll {
  z-index: 1;
  filter: grayscale(50%);
  background-image: url("/images/cover.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: visible;
}

.bg-main {
  background-image: url("/images/bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.center-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  inset: 0% auto auto 0%;
}

.scroll-img {
  z-index: 10;
  width: 50px;
  margin-bottom: 40px;
  margin-left: calc(50% - 25px);
  position: absolute;
  inset: auto 0% 0%;
}
